<!DOCTYPE html>
<html>
<head>
    <title>NGO Platform</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<nav class="navbar">

    <!-- Left Side -->
    <div class="nav-left">
        <a href="/">Home</a>
        <a href="/dashboard">Dashboard</a>
        <a href="/donation_history">Donation History</a>
    </div>

    <!-- Right Side -->
    <div class="nav-right">
        {% if session.get("user") %}
            <span class="welcome">Welcome {{ session.get("user") }}</span>
            <a href="/logout" class="logout-btn">Logout</a>
        {% else %}
            <a href="/login">Login</a>
            <a href="/register">Register</a>
        {% endif %}
    </div>

</nav>

<div class="container">
    {% block content %}{% endblock %}
</div>

</body>
</html>